/.idea
/.svn
/**/target/*
*.classpath
*.project
/*/.settings/*
*.iml
.flattened-pom.xml
/*.flattened-pom.xml
.mvn
/**/pom.xml.releaseBackup
release.properties


HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

.DS_Store
*/.DS_Store
/loggingPath_IS_UNDEFINED/

package.json
node_modules/
package-lock.json
